/* line 4, libs/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, libs/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 7, libs/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, libs/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, libs/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 10, libs/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, libs/_reset.scss */
a img {
  border: none;
}

/* line 12, libs/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, libs/_reset.scss */
button, input {
  line-height: normal;
}

/* line 19, libs/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, libs/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, libs/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, libs/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
/* line 33, screen.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 37, screen.scss */
.pie-clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 43, screen.scss */
.max-width {
  max-width: 100%;
  height: auto;
}

/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */
/* ::Media queries */
/* ------------------------------------------------------------ */
@media screen and (max-width: 769px) {
  -webkit-text-size-adjust: none;
}

/*# sourceMappingURL=screen.css.map */
